{% extends 'base.html' %}
{% block content %}

    title: {{ object.title }}<br>
    published_date: {{ object.pub_date }}<br>
    updated_date: {{ object.update_date }}<br>
    content: {{ object.content }}<br>
    image: <img src="{{ object.img.url }}" width="80"><br>
    image_url: {{ object.img.url }}
    image: {{ object.img }}
    image_path: {{ object.img.path }}



    <a href="{% url 'notice_update' object.id %}">공지 수정</a><br>
    <a href="{% url 'notice_delete' object.id %}">접수 취소</a></a>
    <a href="{% url 'index' %}">저장</a><br>

{% endblock %}